body {
    font-family: $principal-font;
    color: $font-color;
    width: 100vw;
    background-image: url(../images/background-mobile.jpg);
    background-size: contain;
    overflow-x: hidden;
    @include tablet {
      background-image: url(../images/background-tablet.jpg);
    }
    @include desktop {
      background-image: url(../images/background-desktop.jpg);
    }
}

::-webkit-scrollbar {
    @media screen and (max-width: 767px){
      width: 0;
    }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

a {
  text-decoration: none;
}

ul {
    list-style: none;
}


.container {

    padding: 0 15px;
    width: 100%;
    min-width: 320px;
    // max-width: 1200px;
  
    @include mobile {
      max-width: 480px;
    }
    @include tablet {
      max-width: 768px;
    }
    @include desktop {
      max-width: 1200px;
    }


  } 

  .section {
    display: flex;
    justify-content: center;
  }

  .button {
    border: none;
    background-color: $secondary-color;
    font-family: $principal-font;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    color: #000;
    font-style: normal;
    padding: 12px 36px;
    &:hover {
        cursor: pointer;
        background-color: $hover-color;
    }
    &--transparent {
      background-color: transparent;
      border: 2px solid $secondary-color;
      &:hover {
        background-color: transparent;
        border-color: $hover-color;
      }
    }
  }

  .link {
    color: $font-color;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        color: $secondary-color;
    }
  }