$principal-color: #84A178;
$secondary-color: #F8D24E;
$hover-color: #0A8817;
$white-color: #FCFCFC;

$font-color: #fcfcfc;
$principal-font: 'Montserrat', sans-serif;
$secondary-font: 'Seymour One', sans-serif;
$tertiary-font: 'DM Sans', sans-serif;