.footer {
    background-color: #84A178;

    &__container {
        background-color: #84A178;
        width: 320px;
        padding: 0px;
        @include onlyMobile {
                width: 480px;
                background-color: #84A178;
                padding: 0px;
            }
        @include tablet {
            width: 768px;
            background-color: #84A178;
            padding: 0px;
        }

        @include desktop {
            width: 1200px;
            background-color: #84A178;
            padding: 0px;
        }
    }

    &__title {
        color: #FCFCFC;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        height: 42px;
        padding-left: 20px;
        width: 200px;
        @include tablet{
            font-size: 26px;
            width: 352px;
        }
        @include desktop {
            width: 1200px;
            font-size: 30px;
        }
    }

    &__subtitle {
        color: #FCFCFC;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.36px;
        margin: 0;
        margin-top: 14px;
        height: 76px;
        padding-left: 20px;
        width: 200px;
        @include tablet {
            font-size: 48px;
            width: 352px;
            padding-top: 10px;
        }
        @include desktop {
            width: 1200px;
            font-size: 58px;
        }
    }
}

.section-listfooter {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 60px;
}

.listfooter {

    &__svg {
        width: 34px;
        height: 34px;
        border-radius: 17PX;
        background-color: #F8D24E;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__iconsvg {
        width: 20px;
        height: 20px;
        fill: #84A178;

        &:is(:hover, :focus) {
            fill: #FFF;
        }
    }

}

.container-footer-contacts {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 40px;
    @include tablet {
        margin-left: 443px;
    }
    @include desktop {
        margin-left: 920px;
    }
}

.contacts {

    &__feel {
        color: #131313;
        text-align: right;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 186%;
        /* 22.32px */
        @include tablet {
            font-size: 14px;
            width: 352px;
        }
        @include desktop {
            font-size: 12px;
            width: 1200px;
        }
    }

    &__telephone {
        color: #FCFCFC;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 186%;
        @include tablet {
            font-size: 14px;
            width: 352px;
        }
        @include desktop {
            font-size: 12px;
            width: 1200px;
        }
    }
}

.footer-reserved {
    
    color: #7A7A7A;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 152%;
    width: 150px;
    /* 21.28px */
    @include tablet {
        width: 352px;
        }
    @include desktop {
        width: 497px;
    }
}

.reserved {
    border-top: 1px solid #E1E1E1;
    display: flex;
    justify-content: center;
    padding: 10px;
    @include tablet {
        border-top: 1px solid #E1E1E1;
    }
    @include desktop {
        border-top: 1px solid #E1E1E1;
    }

}