%counts {
    position: relative;
    text-align: right;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include desktop {
        font-size: 14px;
    }
}
%before-counts {
    position: absolute;
    color: #131313;
    text-align: right;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.12px;
    @include desktop {
        font-size: 48px;
    }
}
.hero {
    background-color: $principal-color;
    @include onlyMobile {
        height: 346px;
    }
    &__container {
        position: relative;
        display: flex; 
        flex-direction: column;
        align-items: center;
        @include mobile {
            // display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        @include tablet {
            flex-direction: row;
        }
    }
    &__vector-img {
        display: none;
        z-index: 0;
        position: absolute;
        bottom: 0;
        width: 1200px;
        height: 383.456px;
        @include desktop {
            display: block;
        }
    }
    &__cont-title {
        padding-top: 40px;
    }
    &__title {
        width: 247px;
        font-family: $secondary-font;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.04px;
        text-transform: uppercase;
        margin-bottom: 24px;
        &-span {
            font-size: 38px;
        }
        @include desktop {
            font-size: 38px;
            width: 367px;
            margin-bottom: 28px;
        }
    }
    &__cont-buttons {
        margin-bottom: 12px;
        @include desktop {
            margin-bottom: 42px;
        }
    }
    &__button {
        @include desktop {
            position: relative;
            z-index: 30;
        }
    }
    &__link-made {
        position: relative;
        z-index: 30;
        margin-left: 12px;
        font-size: 12px;
        color: $secondary-color;
        text-decoration: underline;
        &:hover {
            color: $hover-color;
        }
        &:focus {
            color: $font-color;
        }
    }
    &__img-small {
        width: 152px;
        height: 152px;
        position: relative;
        z-index: 10;
        @include desktop {
            width: 225px;
            height: 225px;
            transform: scale(1.1);
        }
    }
    &__description {
        margin-left: 32px;
        padding-top: 27px;
        @include desktop {
            position: relative;
            z-index: 11;
            padding-top: 75px;
        }
    }
    &__p {
        width: 165px;
        color: #FFF;
        font-family: $tertiary-font;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 29px;
        @include desktop {
            width: 200px;
            font-size: 14px;
        }
    }
    &__icon-arrow {
        fill: $white-color;
        width: 40px;
        height: 16px;
        &:hover {
            cursor: pointer;
        }
    }
    &__cont-img {
        position: relative;
        @include onlyMobile {
            position: absolute;
            bottom: 0;
            right: 83px;
        }
    }
    // &__img-princ-cont {
    //     display: none;
    //     position: relative;
    //     width: 456px;
    //     height: 560px;
    //     @include desktop {
    //         display: block;
    //     }
    // }
    &__img {
        width: 177px;
        position: relative;
        top: 16px;
        // left: 59px;
        left: 9px;
        transform: scale(1.1);
        @include onlyMobile {
            top: 29px;
            left: 59px;
            width: 218px;
            height: 267px;
            z-index: 20;
        }
        @include mobile {
            transform: scale(1);
        }
        @include onlyTablet {
            width: 347px;
            height: 400px;
            top: 26px;
            left: 33px;
            transform: scale(1.1);
        }
        @include desktop {
            width: 456px;
            height: 560px;
            transform: scale(1.16);
            top: 48px;
            left: 192px;
        //    object-fit: contain;
        //    width: none;
        //    height: none;
        }
    }
    &__cont-description {
        display: none;
        @include tablet {
            display: flex;
        }
        @include desktop {
            margin-bottom: 65px;
        }
    }
    &__icon-group1 {
        position: absolute;
        fill: $secondary-color;
        width: 126.545px;
        height: 48.626px;
        bottom: 0;
        // left: 180px;
        left: 123px;
        @include mobile {
            width: 130.499px;
            height: 50.571px;
            left: 180px;
        }
        @include tablet {
            width: 182.237px;
            height: 67.795px;   
            left: 246px;
        }
        @include desktop {
            display: none;
        }
    }
    &__icon-group2 {
        position: absolute;
        fill: $secondary-color;
        width: 106.938px;
        height: 33.838px;
        bottom: 0;
        // left: -14px;
        left: -69px;
        @include mobile {
            width: 110.306px;
            height: 33.191px;
            // left: -4px;
            left: -6px;
        }
        @include tablet {
            display: none;
        }
    }
    &__icon-addt {
            display: none;
            position: absolute;
            fill: $secondary-color;
            width: 110.143px;
            height: 34px;
            left: -374px;
            bottom: 0;
            @include onlyTablet {
                display: block;
            }
    }
    &__counts {
        display: none;
        flex-direction: column;
        margin-top: 60px;
        @include tablet {
            display: flex
        }
        @include desktop {
            margin-left: auto;
            margin-top: 103px
        }
    }
    &__cafes {
        @extend %counts;
        padding-bottom: 58px;
        &::before {
            @extend %before-counts;
            content: '16';
            bottom: 69px;
            right: -2px;
        }
    }
    &__food-trucks {
        @extend %counts;
        width: 46px;
        &::before {
            @extend %before-counts;
            content: '23'; 
            bottom: 14px;
            right: -2px;
        }
        @include desktop {
            width: 79px;
            margin-top: 20px;
        }
    }
}