.modal {
    width: 568px;
    height: 644px;
    border-radius: 10px;
    border: 2px solid #F8D24E;
    background: #FCFCFC;

    &__title {
            color: #131313;
            text-align: center;
            font-family: Seymour One;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            padding-bottom: 100px;
            padding-top: 30px;
            /* 140% */
        }
    &__card {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 30px;
    }
}

.one {
    border-radius: 15px;
    border: 2px solid #96AF8C;
    box-shadow: 0px 5.2602739334106445px 19.72602653503418px 0px rgba(212, 20, 67, 0.10);
}

.two {
    border-radius: 15px;
    border: 2px solid #EFD478;
    background: #EFD478;
    box-shadow: 0px 5.2602739334106445px 19.72602653503418px 0px rgba(212, 20, 67, 0.10);
}

.three {
    border-radius: 15.781px;
    border: 2px solid #D6936D;
    box-shadow: 0px 5.2602739334106445px 19.72602653503418px 0px rgba(212, 20, 67, 0.10);
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 132px;
    height: 135px;

    &__traslate {
        transform: translateY(-110px);
    }
}

.card__back-img {
    width: 132px;
    height: 132px;
    border-radius: 66px;
    margin-top: 46px;
    &--green {
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%), #D9D9D9;
        filter: drop-shadow(0px 5.3421931267px 20.0332221985px rgba(10, 136, 23, 0.25));
    }

    &--yellow {
        background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%), #D9D9D9;
        filter: drop-shadow(0px 5.4039735794px 20.2649002075px rgba(153, 114, 23, 0.25));
    }

    &--orange {
        background: linear-gradient(0deg, rgba(213, 117, 63, 0.7) 0%, rgba(213, 117, 63, 0.7) 100%), #D9D9D9;
        fill: linear-gradient(0deg, rgba(213, 117, 63, 0.70) 0%, rgba(213, 117, 63, 0.70) 100%), #D9D9D9;
        filter: drop-shadow(0px 5.2602739334106445px 19.72602653503418px rgba(0, 0, 0, 0.25));
    }
}

.card-container {
    width: 132px;
    height: 132px;
    border-radius: 66px;
    overflow: hidden;
    transform: translateY(-11px);
    object-fit: contain;
}
.card__img {
    width: 132px;
    height: 132px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.title {
    margin-top: 30px;
}

.card__textos {
    color: #131313;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
    text-transform: uppercase;
}

.container-modal {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
}

.modal {
    &__container-input {
        border-radius: 10px;
        border: 1px solid #84A178;
        background: rgba(248, 210, 78, 0.10);
        height: 42px;
        width: 368px;
        outline: none;
        margin-bottom: 16px;
    }
    &__input {
        margin-top: 11px;
        outline: none;
        border: none;
        background: transparent;
        margin-left: 4px;
    }

    &__label {
        color: #131313;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-left: 16px;
        /* 19.6px */
    }   
}
       
.modal-form-message {
    width: 366px;
    height: 84px;
    border-radius: 10px;
    border: 1px solid #84A178;
    background: rgba(248, 210, 78, 0.10);
    outline: none;
    padding: 16px;
    resize: none;
}

.modal-form-message::placeholder {
    color: #131313;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
}

.modal-button {
    display: inline-block;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: #F8D24E;
    width: 121px;
    height: 42px;
    margin-top: 10px;

}

.container-button {
    display: flex;
    justify-content: center;
    outline: none;
}

/*Diseño para ventana modal de Agradecimiento*/

.container-thanks {
    width: 568px;
    height: 668px;
    border-radius: 10px;
    border: 2px solid #F8D24E;
    background: #FCFCFC;
}

.thanks {
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-bottom: 3px;

    &__titlethanks {
        width: 322px;
        height: 84px;
        color: #131313;
        text-align: center;
        font-family: Seymour One;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        /* 140% */
        }
    &__subtitlethanks {
        width: 448px;
        color: #131313;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin: 0px;
        /* 22.4px */
    }
}

/*Ventana modal ubicacion*/

.location {
    width: 568px;
    height: 458px;
    border-radius: 10px;
    border: 2px solid #F8D24E;
    background: #FCFCFC;

    &__titlelocation {
        color: #131313;
        text-align: center;
        font-family: Seymour One;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin: 32px;
        /* 140% */
    }

    &__ubication {
        display: flex;
        justify-content: center;
        margin: 32px;
    }
}


/* Ventana modal del video*/

.video {
    width: 568px;
    height: 449px;
    border-radius: 10px;
    border: 2px solid #F8D24E;
    background: #FCFCFC;

    &__title {
        color: #131313;
        text-align: center;
        font-family: Seymour One;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin: 32px;
        /* 140% */
    }
}

.svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 448px;
    height: 205px;
    border-radius: 10px;
    background: #000;
    margin: 32px 60px;

    &__svg {
        width: 36px;
        height: 36px;
        fill: #FCFCFC;
    }
    &__text {
        width: 448px;
        color: #131313;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin: 32px 60px;
        /* 22.4px */
    }
}

/*ventana modal para ingredientes*/

.ingredients {
    width: 568px;
    height: 996px;
    border-radius: 10px;
    border: 2px solid #F8D24E;
    background: #FCFCFC;
    flex-direction: column;
    display: flex;
    padding: 40px;

    &__title {
        color: #131313;
        text-align: center;
        font-family: Seymour One;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        /* 140% */
    }
    &__image {
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }
    &__imgcream {
        width: 132px;
        height: 132px;
        border-radius: 66px;
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%), #D9D9D9;
        filter: drop-shadow(0px 5.3421931267px 20.0332221985px rgba(10, 136, 23, 0.25));
    }
    &__traslate-img {
        width: 132px;
        height: 132px;
        border-radius: 66px;
        overflow: hidden;
        transform: translateY(-11px);
        object-fit: contain;
    }
}


.target {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    padding: 32px;
    &__card {
        display: flex;
        gap: 20px;
        padding: 0px;
    }
    &__list {
        height: 90px;
        border-radius: 40px;
        border: 2px solid #9CBE8F;
        list-style: none;
    }
    &__text {
        width: 53px;
        height: 53px;
        stroke-width: 2px;
        border-radius: 66px;
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%), #D9D9D9;
        filter: drop-shadow(0px 6px 20px rgba(10, 136, 23, 0.25));
        transform: translateY(0px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__calories {
        color: #131313;
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
    }
    &__productos {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    &__product {
        color: #131313;
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 20px;
    }
}


.nutrition-title {
    color: #131313;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 140% */
}

.nutrition {
    display: flex;
    justify-content: space-between;

    &__ingredient {
        list-style: none;
        padding: 0px;
    }
    &__calories {
        margin: 11px;
        color: #131313;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 176%;
        /* 24.64px */
        letter-spacing: 0.56px;
    }
}

.container-ingredients {
    display: flex;
    justify-content: center;
    padding-top: 48px;
}

.container-button-ingredients {
    display: flex;
    justify-content: center;
    outline: none;
    padding-top: 32px;
}